* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  padding: 0 2px;
}

#clock {
  font-weight: bold;
}

#battery {
  color: #000000;
  margin-bottom: 10px;
}

#network {
  color: #000000;
  margin-bottom: 10px;
}

#cpu{
  margin-bottom: 10px;
}

#pulseaudio{
  margin-bottom: 10px;
}

#tray {
  border: 1px solid #333;
  background-color: #222;
  border-radius: 5px;
  padding: 5px;
}
